In [193]:
# Dependencies
from bs4 import BeautifulSoup as bs
import requests
from splinter import Browser
import time
import pandas as pd

In [194]:
executable_path = {'executable_path': 'chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)

url = "https://www.recenter.tamu.edu/data/housing-activity#!/activity/State/Texas"

browser.visit(url)
html = browser.html
soup = bs(html, 'html.parser')

head = soup.find_all('thead')
body = soup.find_all('tbody')

In [200]:
list_rows = []

for items in body:
    itemTD = items.find_all('tr')
   
    for item in itemTD:
        list_cells = []
        for x in range(7):
            list_cells.append(item.find_all('td')[x].text)
        list_rows.append(list_cells)

In [201]:
housing_df = pd.DataFrame(list_rows)

In [202]:
housing_df.columns = ['Date','Sales','Dollar Volume','Average Price','Median Price','Total Listings', 'Months Inventory']

In [203]:
housing_df

,Date,Sales,Dollar Volume,Average Price,Median Price,Total Listings,Months Inventory
0,Jan 1990,"7,741","655,670,441","84,701","62,914","93,041",12.0
1,Feb 1990,"6,200","530,013,200","85,486","68,783","102,099",14.6
2,Mar 1990,"8,545","727,418,760","85,128","68,783","104,780",14.0
3,Apr 1990,"8,245","708,229,010","85,898","68,490","106,347",13.8
4,May 1990,"9,309","811,502,766","87,174","68,294","106,866",13.3
...,...,...,...,...,...,...,...
359,Dec 2019,"29,605","8,901,008,813","300,659","248,000","92,745",3.1
360,Jan 2020,"20,943","5,822,554,441","278,019","232,500","95,351",3.2
361,Feb 2020,"24,851","7,259,218,987","292,110","243,000","95,851",3.2
362,Mar 2020,"30,763","9,171,616,670","298,138","248,000","97,389",3.2
363,Apr 2020,"26,121","7,748,094,633","296,623","249,990","98,605",3.3